.chart-plot-background{
    -fx-background-color: transparent;
}

.chart-series-line{
    -fx-stroke-width : 3px;
}

.default-color0.chart-series-line{
    -fx-stroke:#0b99d6 ;
}

.default-color0.chart-line-symbol{
    -fx-background-color:#72d6f2;
}

.chart-line-symbol{
    -fx-pref-height: 10px;
    -fx-pref-width: 10px;
}