.root{
    -fx-background-color: rgba(0,0,0,0);
}
.container{
    -fx-background-color:  #0c0c0f;
    -fx-background-radius: 0;
}

.closeAndMinBtn:hover{
    -fx-background-color:  #ff0f8f;
    -fx-text-fill: black;
}

.mainBtn:hover {
    -fx-background-color: #0c0c0f;
}